body {
    background-color: lightgray;
    background-image: url('https://localtvwnep.files.wordpress.com/2018/02/nick-foles-super-bowl-trophy.jpg?quality=85&strip=all&w=400&h=225&crop=1');
    background-size: cover;
}

.superbowl {
    width: 600px; /* Consider making this a percentage so it scales better with page sizing. Or add media queries */
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px 50px 50px 50px;
    border-radius: 50px;
    border: 1px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
    opacity: 0.9; /* Cool use of opacity and box-shadow */
}

.superbowl h1 {
    font-family: sans-serif; /* Maybe use something like Helvetica, and sans-serif as a backup to that */
    background-color: darkgreen;
    font-size: 60px;
    text-align: center;
    color: #fff;
    padding: 2px 0px;
    border-radius: 50px;
}

.superbowl p {
    font-size: 30px;
    font-weight: bold;
    color: #2B2B2B;
}

#button0, #button1, #button2, #button3 { /* Use a common class name for the buttons instead of selecting each one */
    background-color: darkgreen;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1d3c6a;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    font-weight: bold;
}

#score {
    text-align: center
}

#counter {
    color: #5a6772;
    text-align: center;
    font-size: 30px;
}

#button0:hover, #button1:hover, #button2:hover, #button3:hover { /* Give the buttons a common classname so you don't have to select each individually */
    cursor: pointer;
    background-color: darkgreen;
}

#button0:focus, #button1:focus, #button2:focus, #button3:focus {
    outline: 0;
}

hr {
    margin-top: 30px;
}
/* Move this hr closer to the top of the page. */
/* Typically you want your css file to be ordered like this: element selectors, classes, then ids */

/* CSS is solid overall and passes validations */
/* Biggest way to improve here would be to handle page resizing by making your page more responsive.*/
/* Ways to do that would be modern css displays like flexbox/grid, and to add media queries to listen when someone looks at your page with a smaller width. */